:root {
	--clr-p-100: hsl(179, 62%, 43%);
	--clr-p-200: hsl(71, 73%, 54%);
	--clr-p-200-h: hsl(71, 74%, 56%);
	--clr-p-300: hsl(179, 48%, 52%);

	--clr-n-100: hsl(204, 43%, 93%);
	--clr-n-200: hsl(218, 22%, 67%);
	--clr-n-300: hsl(0, 0%, 100%);
}
